body {
  font-family: Inter;
  display: flex;
  flex-direction: column;
}
header img {
  cursor: pointer;
}
.Top {
  width: 100%;
  background: rgba(236, 243, 249, 1);
  display: grid;
  grid-template-columns: 1fr 62% 1fr;
  padding: 15px 0px;
}
.Top-PlayList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Top-PlayList-container {
  width: 75%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.Top-PlayList-container-frame {
  display: flex;
  gap: 13px;
}
.Top-PlayList-container__text {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: rgba(34, 53, 70, 1);
}
.Top-PlayList-container-frame__img {
  width: 23px;
  height: 24px;
}
.Top-SearchBar {
  display: flex;
  width: 100%;
  border-left: 1px solid rgba(208, 213, 221, 1);
  border-right: 1px solid rgba(208, 213, 221, 1);
}
.Top-SearchBar-frame {
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
}
.Top-SearchBar-frame__inp {
  width: 100%;
  height: 100%;
  padding: 0 50px;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  border-radius: 50px;
  color: rgba(34, 53, 70, 1);
}
.Top-SearchBar-frame__img {
  position: absolute;
  padding-left: 10px;
}
.Top-Profile {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.Top-Profile-container {
  width: 75%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.Top-Profile-container-frame {
  display: flex;
  gap: 10px;
  align-items: center;
}
.Top-Profile-container-frame__text {
  font-weight: 600;
  font-size: 16px;
  color: rgba(34, 53, 70, 1);
  cursor: pointer;
}

.Top-Profile-container-circle__img {
  width: 48px;
  height: 48px;
  border-radius: 50px;
}
.greet {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background: rgba(11, 15, 26, 1);
  padding: 45px 65px;
}
.greet__text1 {
  font-weight: 800;
  font-size: 40px;
  color: rgba(236, 243, 249, 1);
}
.greet__text2 {
  font-weight: 600;
  font-size: 18px;
  color: rgba(165, 178, 188, 1);
}
.container {
  flex: 1;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 62% 1fr;
}
.container-left,
.container-right {
  height: 100%;
  width: 100%;
  background: rgba(236, 243, 249, 1);
  padding: 20px 20px;
}

.container-left__textH,
.container-right__textH {
  display: flex;
  align-items: center;
}
.container-left,
.container-left-see,
.container-right-see,
.container-right {
  font-weight: 600;
  font-size: 18px;
  color: rgba(49, 76, 101, 1);
}
.container-left li {
  font-size: 15px;
}
.container-left__textH,
.container-right__textH {
  border-bottom: 2px solid rgba(208, 213, 221, 1);
  opacity: 0.8;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px 0;
}
.container-left-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5px;
}
.container-left-see,
.container-right-see {
  padding-top: 5px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  justify-content: end;
  align-items: center;
}
.container-left-see__img,
.container-right-see__img {
  rotate: -90deg;
  width: 13px;
  height: 13px;
}
.container-left-text__list {
  padding: 15px;
  border-radius: 60px;
  cursor: pointer;
}
.container-left-text__list-BLACK {
  background: rgba(11, 15, 25, 1);
  color: rgba(236, 243, 249, 1);
}
.container-left-text__list:not(.container-left-text__list-BLACK):hover {
  opacity: 0.7;
  background: rgba(11, 15, 25, 1);
  color: rgba(236, 243, 249, 1);
}
.container-album {
  padding: 10px 20px 0 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.container-album-window {
  flex: 1;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(5, 15%);
  padding: 0 20px 10px 20px;
  justify-content: space-between;
  grid-gap: 50px;
}
.container-album-window::-webkit-scrollbar-thumb {
  background: rgba(165, 178, 188, 1);
  border-radius: 40px;
}
.container-album-window::-webkit-scrollbar {
  width: 4px;
}
.container-album-window-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.container-album-window-item-block2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 5px;
}
.container-album-window-item-block1__img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.container-album-window-item-block2__h1 {
  font-weight: 700;
  font-size: 15px;
  color: rgba(34, 53, 70, 1);
}
.container-album-window-item-block2__p {
  font-weight: 600;
  font-size: 12px;
  color: rgba(49, 76, 101, 1);
}
.container-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: rgba(236, 243, 249, 1);
}
.container-right-block {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0 10px 15px;
}
.container-right-block-item {
  cursor: pointer;
  display: grid;
  align-items: center;
  grid-template-columns: 15% 85%;
}
.container-right-block-item__image {
  width: 100%;
  border-radius: 5px;
}
.container-right-block-item-text {
  padding-left: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.container-right-block-item-text__h {
  font-weight: 700;
  font-size: 15px;
  color: rgba(34, 53, 70, 1);
}
.container-right-block-item-text__p {
  font-weight: 600;
  font-size: 14px;
  color: rgba(49, 76, 101, 1);
}
.play {
  width: 100%;
  background: rgba(236, 243, 249, 1);
  display: none;
  /* display: grid; */
  grid-template-columns: 1fr 70% 1fr;
  padding: 15px 20px;
}
.play-left {
  display: flex;
}
.play-left-item {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 10px;
}
.play-left-item__img {
  width: 100%;
  border-radius: 3px;
  grid-row: span 2;
}
.play-left-item__p {
  font-weight: 600;
  font-size: 14px;
  color: rgba(49, 76, 101, 1);
  grid-column: 2;
}
.play-left-item__h {
  font-weight: 700;
  font-size: 15px;
  grid-column: 2;
  color: rgba(34, 53, 70, 1);
}
.play-left_svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.play-left_svg img {
  width: 100%;
}
.play-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.play-middle-top {
  display: flex;
  gap: 30px;
}
.play-middle-top__img {
  cursor: pointer;
}
.play-middle-bot {
  width: 60%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.play-middle-bot__range {
  width: 100%;
  height: 6px;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
.play-middle-bot__range::-webkit-slider-runnable-track {
  height: 4px;
  background: rgba(49, 76, 101, 1);
  border-radius: 3px;
}
.play-middle-bot__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: black;
  border-radius: 50%;
  margin-top: -5px;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.play-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.play-right__range {
  width: 100%;
  height: 6px;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
.play-right__range::-webkit-slider-runnable-track {
  height: 4px;
  background: rgba(49, 76, 101, 1);
  border-radius: 3px;
}
.play-right__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: rgba(49, 76, 101, 1);
  border-radius: 50%;
  margin-top: -5px;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
